<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="customer/layout :: head"></head>
<body>
<h3>Customers</h3>
<p>
    <a th:href="@{/customer}"> Back to customer list </a>
</p>
<table id="customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.address}"></td>
    </tr>
    </tbody>
</table>
<p>Are you sure?</p>
<form th:action="@{/customer/{id}/delete(id=${customer.id})}" method="post">
    <input type="submit" value="Delete">
</form>
</body>
</html>